@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    /* height: 100vh; */
    width: 87.5%;
    max-width: 1440px;
    margin: auto;
}

#task-6 {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

p {
    margin: 20px 0;
    font-size: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}

#border {
    border: 2px dotted black;
    padding: 15px;
}

#border-2 {
    border: 4px dashed green;
    padding: 15px;
}

li {
    list-style: none;
}

ol,
ul ,
li,
.ol{
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.box {
    width: 800px;
    height: 500px;
    /* background-color: lightblue; */
    background-image: url(https://images.unsplash.com/photo-1767257147725-89011434e351?q=80&w=2032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

    margin: 20px 0;
    border: 5px solid navy;
    border-radius: 15px;

    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.second {
    width: 100%;
    height: 500px;
    background-image: url(https://img.icons8.com/?size=200&id=k2wXZy0eNoae&format=png);
    /* background-size: cover; */
    /* background-position: center; */
    background-size: auto;
    background-repeat: repeat;
}
/* this is external css file */